#sidenavbarformobile ul {
  position: relative;
  transform: skewY(-15deg);
}
#sidenavbarformobile ul li {
  position: relative;
  list-style: none;
  width: 120px;
  background: #3e3f46;
  padding: 15px;
  /* z-index: var(--i); */
  transition: 0.5s;
}

#sidenavbarformobile ul li:hover {
  background: #33a3ee;
  transform: translateX(-50px);
}
#sidenavbarformobile ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}
#sidenavbarformobile ul li:hover::before {
  background: #1f5378;
}
#sidenavbarformobile ul li:after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #35383e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}
#sidenavbarformobile ul li:hover::after {
  background: #2982b9;
}
#sidenavbarformobile ul li a {
  text-decoration: none;
  /* color: #999; */
  display: block;
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  transition: 0.5s;
}
#sidenavbarformobile ul li:hover a {
  color: #fff;
}
#sidenavbarformobile ul li:last-child::after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

#topnavbarfordesktop .outer {
  position: relative;
  margin: 0 0px;
  background: #111;
}
#topnavbarfordesktop .button {
  height: 37px;
  width: 97px;
  border-radius: 50px;
}

#topnavbarfordesktop .outer a,
#topnavbarfordesktop .outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#topnavbarfordesktop .outer a {
  background: #111;
  /* color: #f2f2f2; */
  outline: none;
  border: none;
  font-size: 14px;
  z-index: 9;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
#topnavbarfordesktop .button a {
  height: 30px;
  width: 90px;
  border-radius: 50px;
}

#topnavbarfordesktop .outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}
#topnavbarfordesktop .button span {
  border-radius: 50px;
}

#topnavbarfordesktop .outer:hover span:nth-child(1) {
  filter: blur(7px);
}
#topnavbarfordesktop .outer:hover span:nth-child(2) {
  filter: blur(14px);
}
#topnavbarfordesktop .outer:hover {
  background: linear-gradient(#2243fa, #3bff5a, #ff00e0);
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
/* my name colo animation effect  */
#brand-name-color-effect-dark-mode {
  /* position: absolute; */
  background: linear-gradient(90deg, #2243fa, #3bff5a, #ff00e0, #2243fa);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  animation: animate 10s linear infinite;
}
#brand-name-color-effect-light-mode {
  /* position: absolute; */
  /* #F0F5F9, #C9D6DF,#52616B, #1E2022  #d88e26*/
  background: linear-gradient(
    90deg,
    #1e2022,
    #ff00e0,
    #2243fa,
    #3bff5a,
    #1e2022
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

/* for the toggl button  */

#toggle-for-dark-mood label {
  width: 80px;
  height: 38px;
  position: relative;
  top: -43px;
  display: block;
  background: #ebebeb;
  border-radius: 50px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
#toggle-for-dark-mood label:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#toggle-for-dark-mood input {
  width: 0;
  height: 0;
  visibility: hidden;
}
#toggle-for-dark-mood input:checked + label {
  background: #242424;
}
#toggle-for-dark-mood input:checked + label:after {
  left: 75px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
#toggle-for-dark-mood label,
label:after {
  transition: 0.3s;
}
#toggle-for-dark-mood label:active:after {
  width: 30px;
}
#toggle-for-dark-mood label svg {
  position: absolute;
  width: 25px;
  top: 7px;
  z-index: 1;
}
#toggle-for-dark-mood label svg.sun {
  left: 8px;
  fill: #fff;
  transition: 0.3s;
}
#toggle-for-dark-mood label svg.moon {
  height: 30px;
  left: 48px;
  top: 4px;
  fill: #7e7e7e;
  transition: 0.3s;
}
#toggle-for-dark-mood input:checked + label svg.sun {
  fill: #7e7e7e;
}
#toggle-for-dark-mood input:checked + label svg.moon {
  fill: #fff;
}

/* for sound sound on off button  */
/* #262626  */

/* #050816 */
#sound-toggle-button .button {
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: transparent;
  background-image: linear-gradient(145deg, #171717, #444245);
  box-sizing: border-box;
  box-shadow: inset 1px 1px 0 #7d7c7e, inset -1px -1px 0px #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sound-toggle-button .button:hover {
  cursor: grab;
}
#sound-toggle-button input {
  display: none;
}
#sound-toggle-button .button::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 38px;
  border-radius: inherit;
  background-color: transparent;
  background-image: linear-gradient(145deg, #262626, #3b3b3b);
  z-index: -1;
  box-shadow: 10px 10px 20px #141414, -5px -5px 20px #3d3d3d;
}
#sound-toggle-button .button .icon {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sound-toggle-button .button .icon svg {
  height: 100%;
  width: 100%;
  fill: #ff0202;
  position: relative;
  top: 4px;
  left: 2px;
}

#sound-toggle-button input:checked + .button {
  box-shadow: inset -1px -1px 0 #5e5e5e, inset 1px 1px 0 #1c1c1c;
  border: 2px solid rgb(0, 255, 34);
  animation: animeBorder 0.3s linear alternate-reverse infinite;
}
#sound-toggle-button input:checked + .button .icon svg {
  fill: rgb(0, 255, 34);
  animation: animeFill 0.3s linear alternate-reverse infinite;
}
@keyframes animeBorder {
  to {
    border-color: rgba(0, 214, 29, 0.233);
  }
}
/* @keyframes animeFill {
  to {
    fill: rgba(0, 214, 29, 0.233);
  }
} */

/* for music on off  */
/* music-toggle-button */

#music-toggle-button .button {
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: transparent;
  background-image: linear-gradient(145deg, #171717, #444245);
  box-sizing: border-box;
  box-shadow: inset 1px 1px 0 #7d7c7e, inset -1px -1px 0px #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}
#music-toggle-button .button:hover {
  cursor: grab;
}
#music-toggle-button input {
  display: none;
}
#music-toggle-button .button::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 38px;
  border-radius: inherit;
  background-color: transparent;
  background-image: linear-gradient(145deg, #262626, #3b3b3b);
  z-index: -1;
  box-shadow: 10px 10px 20px #141414, -5px -5px 20px #3d3d3d;
}
#music-toggle-button .button .icon {
  width: 32px;
  height: 32px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#music-toggle-button .button .icon svg {
  height: 100%;
  width: 100%;
  fill: #ff0202;
  position: relative;
  top: 1px;
  left: 1px;
}

#music-toggle-button input:checked + .button {
  box-shadow: inset -1px -1px 0 #5e5e5e, inset 1px 1px 0 #1c1c1c;
  border: 2px solid rgb(0, 255, 34);
  animation: animeBorder 0.3s linear alternate-reverse infinite;
}
#music-toggle-button input:checked + .button .icon svg {
  fill: rgb(0, 255, 34);
  animation: animeFill 0.3s linear alternate-reverse infinite;
  top: 1px;
  left: -1px;
}
@keyframes animeBorder {
  to {
    border-color: rgba(0, 214, 29, 0.233);
  }
}
/* @keyframes animeFill {
  to {
    fill: rgba(0, 214, 29, 0.233);
  }
} */
