@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide the default scrollbar and enable custom styling */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as per your preference */

}
  
  /* Track (the background of the scrollbar) */
  ::-webkit-scrollbar-track {
   background-color: #000; 
    /* Replace with your preferred background color */ 
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {


    background-color: #fff;
     /* Replace with your preferred handle color */
     
    border-radius: 5px; /* Adjust the border radius as you like */
  }
  
  /* When hovering over the scrollbar */
  ::-webkit-scrollbar-thumb:hover {

    /* background-color: #0a102d; Replace with your preferred handle color on hover */
  }


  